@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
    background: #FEFFDE;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    text-align: center;
}

.barra-contenido {
    position: relative;
    background: #91C788;
    height: 50px;
    top: 0;
    left: 0;
    width: 100%;
}