<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctenos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script defer src="/js/contactenos.js"></script>
</head>
<body>
<main class="full-height gradient-background p-5">
    <h2>Contáctenos</h2>
    <div class="container-sm">

        <form action="mailto:mariajogogar1@gmail.com" method="post" enctype="text/plain" class="g-3">
            <!-- Form permite realizar acciones, en este caso particular usando action, envía un correo
            al correo indicado.
           -->
            <div class="row">
                <div class="col">
                    <label>Your Name: </label>
                    <input type="text" class="form-control" name="tu nombre" value="" />
                </div>
                <br />
                <div class="col">
                    <label>Your Email: </label>
                    <input id="email" type="text" class="form-control" name="tu email" value="" />
                </div>
            </div>
            <!-- Label sirve  indicar en pantalla algo y con input recibo eso que estoy solicitando
          type indica el tipo de dato, name el nombre de la variable a  la que le voy a meter el dato
          y finalmente value es el valor con el que voy a inicializar la variable-->
            <br />
            <div class="row">
                <label>Your Message: </label>
                <textarea class="boxMS form-control" name="tu mensaje" rows="10" cols="50"></textarea>
            </div>
            <!-- Textarea me permite meter una variable de tipo texto y con rows y col indico el tamaño -->
            <br />
            <!-- br es un espacio -->
            <button id="enviar" type="submit" name="" class="btn btn-light" style="width: auto">
                enviar
            </button>
            <!-- cuando es type submit crea un botón -->
        </form>

    </div>

    <div class="text-center mt-4">
        <a href="/" class="btn btn-primary btn-lg px-4 me-md-2">🏠</a>
    </div>
</main>
</body>
</html>