<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wiki linx</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/descripcion.css">

</head>
<body>
<section class="descripcion-proyecto seccion">
    <h2>Descripción del Proyecto</h2>
    <p>Primeramente el taller tiene como objetivo principal la creación de una  "wiki" para nuestro equipo. En esta wiki, se documentarán detalladamente los aspectos más relevantes del proyecto final en desarrollo.</p>
    <p>Servirá como un recurso valioso para los miembros del equipo, permitiéndoles acceder rápidamente a la información relevante y mantenerse al tanto de los avances del proyecto.</p>
    <p>El proyecto podría tratarse de una plataforma o aplicación de votación y gestión de listas de reproducción de música, donde los usuarios pueden registrarse, autenticarse y votar por sus canciones favoritas. Los usuarios votantes pueden crear y ver listas por género musical, buscar canciones y votar o desvotar por las listas existentes. Los usuarios administradores, por otro lado, pueden autenticarse y gestionar los géneros musicales y canciones mediante operaciones CRUD (Crear, Leer, Actualizar y Borrar).</section>

<section class="requerimientos seccion">
    <h2>Requerimientos Funcionales</h2>
    <ul>
        <li><strong>Historias de Usuario para el Usuario Votante:</strong></li>
        <li>Creación de Cuenta</li>
        <li>Activación de Cuenta</li>
        <li>Autenticación de Usuario</li>
        <li>Ver Listas por Género Musical Creadas</li>
        <li>Buscar Canción</li>
        <li>Votar/Desvotar por una Lista</li>

        <li><strong>Historias de Usuario para el Usuario Administrador:</strong></li>
        <li>Autenticación de Usuario</li>
        <li>CRUD Géneros Musicales</li>
        <li>CRUD Canciones</li>
    </ul>
</section>

<section class="requerimientos-no-funcionales seccion">
    <h2>Requerimientos No Funcionales</h2>
    <ul>
        <li>Seguridad de Datos</li>
        <li>Interfaz de Usuario Intuitiva</li>
        <li>Tiempo de Respuesta Rápido</li>
        <li>Implementación Robusta</li>
    </ul>
</section>
</body>
</html>
